/* Container and Filters */

.container .filters {
    background: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    position: relative;
}

/* Buttons */
  
button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    right: 30px;
    top: 15%;
    position: absolute;
}
  
button:hover {
    opacity: 0.9;
}
  
/* Filters */

.filters {
    display: flex; /* Display as flex to align items in a row */
}

.filters div {
    width: 25%;
    /* height: 100%; */
    display: inline-block;
}

.filters h3 {
    font-weight: 600;
    margin-bottom: 0;
    margin-left: 20%;
}

.filters h4 {
    font-weight: 400;
    font-size: 14px;
    margin-top: 0;
    margin-left: 20%;
}

/* Locations */

.locations {
    border-right: 1px solid #DDDDDD;
}

.locations h2 {
    font-size: 16px;
}

/* Amenities */

.amenities {
    width: 25%;
}

/* popover and hover  */

.popover {
    visibility: hidden;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    background: #FAFAFA;
    padding: 20px 0;
}

.amenities .popover {
    padding: 20px 0;
}

.popover ul {
    list-style-type: none;
    width: 100%;
    margin: 0;
}

.amenities:hover .popover,
.locations:hover .popover {
    visibility: visible;
    width: 100%;
}
